#bottom-cloud-container {
  margin-top: 200px;
}

#bottom-cloud-container {
  height: 200px;
  overflow: hidden;
  background: url("/images/svg/homeCloudsBottom.svg") top center no-repeat;
}

#nick-image-container {
  position: relative;
  height: 200px;
  img {
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
  }
}

#HomePage-purple-spacer {
  height: 320px;
}

#HomePage-skills {
  position: relative;
  background: $primary;
  #HomePage-skills-cards {
    border-radius: 12px;
    transform: translateY(-220px);

    .card-column {
      margin: 2rem 0;
      .card {
        padding: 1rem 0.5rem;
        box-shadow: none;
        border: none;
        border-radius: 12px;
        margin-bottom: 18px;
        text-align: center;
        box-shadow: 0 0 4px rgba($dark, 0.5);
        height: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    background: $white;
    #HomePage-skills-cards {
      box-shadow: 0 0 4px rgba($dark, 0.5);

      .card-column {
        padding: 0;
        margin: 0;

        .card {
          box-shadow: none;
          border-radius: 0;
          margin-bottom: 0;
        }
        &:nth-of-type(1) .card {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          border-right: 1px solid rgba($dark, 0.15);
        }

        &:nth-of-type(3) .card {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          border-left: 1px solid rgba($dark, 0.15);
        }
      }
    }
  }
}

#HomePage-portfolio {
  padding-top: 150px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

#HomePage-teal-spacer {
  height: 24px;
}

#HomePage-presentations {
  position: relative;
  .row {
    position: relative;
    top: -110px;
  }
}

#HomePage-start-project {
  position: relative;
  padding: 40px;
  height: 120px;
  padding-bottom: 180px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  .card {
    position: relative;
    margin-top: -118px;
    padding: 40px 15px;
    border-radius: 12px;
    background: $dark;

    .row {
      align-items: center;
    }
  }
}
