#TopClouds {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 330px;
  margin-top: -22px;
  background: url("/images/pages/home/TopClouds.svg") top center no-repeat;
}

#HomePage-hero {
  @include media-breakpoint-down(xs) {
    max-height: 240px;
    h1 {
      font-size: 42px;

      span {
        // display: block;
      }
    }
  }
}
#bottom-cloud-container {
  height: 200px;
  margin-top: 200px;
  overflow: hidden;
  background: url("/images/svg/homeCloudsBottom.svg") top center no-repeat;
}

#nick-image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: bottom;
  height: 200px;
  // Nick Illustration
  svg.nick {
    height: 370px;
    transform: translateY(-75%);
    @media (max-width: 399.98px) {
      max-width: 80%;
    }
  }
  // Similarly position all icons
  svg.github,
  svg.coffee,
  svg.css,
  svg.npm,
  svg.node,
  svg.lightbulb,
  svg.react {
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    top: -250px;
    left: 50%;
  }
  svg.github {
    animation-duration: 7s;
    animation-name: RotateBackAndFourth;
    top: -225px;
    left: calc(50% - 220px);
  }
  svg.coffee {
    animation-duration: 20s;
    animation-name: MoveUpDown;
    top: -300px;
    left: calc(50% - 180px);
  }
  svg.css {
    animation-duration: 20s;
    animation-name: ScaleAndBob;
    top: -335px;
    left: calc(50% - 100px);
  }
  svg.npm {
    animation-duration: 10s;
    animation-name: MoveUpDown;
    top: -340px;
    left: calc(50% - 20px);
  }
  svg.node {
    animation-duration: 20s;
    animation-name: RotateBackAndFourth;
    top: -340px;
    left: calc(50% + 65px);
  }
  svg.lightbulb {
    animation-duration: 20s;
    animation-name: MoveUpDown;
    top: -300px;
    left: calc(50% + 132px);
  }
  svg.react {
    animation-duration: 10s;
    animation-name: ReactSpin;
    top: -225px;
    left: calc(50% + 180px);
  }
}

#HomePage-purple-spacer {
  height: 320px;
}

#HomePage-skills {
  position: relative;
  background: $primary;
  #HomePage-skills-cards {
    border-radius: 12px;
    transform: translateY(-220px);

    .card-column {
      margin: 2rem 0;

      svg {
        height: 100px;
        margin: 10px 0 35px;

        &.icon-code,
        &.icon-design {
          fill-opacity: 0.85;
        }

        &.icon-code {
          transform: scale(0.85);
        }
      }

      h4,
      h6 {
        color: darken($primary, 20%);
        font-weight: 100;
      }

      h6 {
        margin-top: 50px;
      }

      p {
        font-size: 16px;
        margin: 16px 0;
      }

      ul {
        list-style: none;
        font-size: 16px;
        padding-left: 0;
      }

      .card {
        padding: 1rem 0.5rem;
        box-shadow: none;
        border: none;
        border-radius: 12px;
        margin-bottom: 18px;
        text-align: center;
        box-shadow: 0 0 4px rgba($dark, 0.5);
        height: 100%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    background: $white;
    #HomePage-skills-cards {
      box-shadow: 0 0 4px rgba($dark, 0.5);

      .card-column {
        padding: 0;
        margin: 0;

        .card {
          box-shadow: none;
          border-radius: 0;
          margin-bottom: 0;
        }
        &:nth-of-type(1) .card {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          border-right: 1px solid rgba($dark, 0.15);
        }

        &:nth-of-type(3) .card {
          border-top-right-radius: 12px;
          border-bottom-right-radius: 12px;
          border-left: 1px solid rgba($dark, 0.15);
        }
      }
    }
  }
}

#HomePage-portfolio {
  padding-top: 150px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
}

#HomePage-teal-spacer {
  height: 24px;
}

#HomePage-presentations {
  position: relative;
  .row {
    position: relative;
    // top: -110px;
  }
}

#HomePage-start-project {
  position: relative;
  padding: 40px;
  height: 120px;
  padding-bottom: 180px;

  @include media-breakpoint-up(lg) {
    padding-bottom: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    padding: 0;
    margin: 0;
  }
  .card {
    position: relative;
    margin-top: -118px;
    padding: 40px 15px;
    border-radius: 12px;
    background: $dark;

    .row {
      align-items: center;
    }
  }
}
